.container {
    background: #49062A;
    background: -moz-linear-gradient(top, #49062A 0%, #CB89AB 50%, #49062A 100%);
    background: -webkit-linear-gradient(top, #49062A 0%, #CB89AB 50%, #49062A 100%);
    background: linear-gradient(to bottom, #49062A 0%, #CB89AB 50%, #49062A 100%);
    width: 1080px;
}

.header {
    background-color: white;
    width: 1080px;
    height: 80px;
}
.header h1 {
    font-family: cursive;
    position: fixed;
    left: 30px;
    top: 0px;
}

.header h2 {
    position: fixed;
    font-family: sans-serif;
    left: 650px;
    top: 10px;
}

#selfport {
    width: 400px;
    border: 5px solid lightgray;
    position: relative;
    left: 20px;
    top: 20px;
}